{% extends "webapp.html" %}
{% set active_page = "training" %}
{% block title %}Training{% endblock %}
{% block jumbotron_header %}Training{% endblock %}
{% block jumbotron_text %}In the training section you can add and view training, as well as compare your performance.{% endblock %}
{% block main %}
    <div class="well">
    <h3>Running</h3>
    <p>So you want to get better at running? Great, because the charity run isn't far away! Here are some sites to help you improve your running technique:</p>
    <ul>
        <li><a href="http://www.runnersworld.com/">www.RunnersWorld.com</a></li>
        <li><a href="http://therunningbug.co.uk/">TheRunningBug.co.uk</a></li>
        <li><a href="http://www.upandrunning.co.uk/">www.UpAndRunning.co.uk</a></li>
    </ul>
    <h3>Cycling</h3>
    <p>Another great way to improve your fitness for the event is cycling. It can  be as intensive or as easy as you want, and lets you goto places you haven't otherwise been before. Here are some sites dedicated to cycling:</p>
    <ul>
        <li><a href="http://www.britishcycling.org.uk/">www.BritishCycling.org.uk</a></li>
        <li><a href="http://www.cyclingweekly.co.uk/">www.CyclingWeekly.co.uk</a></li>
        <li><a href="http://www.cycle-route.com/">www.Cycle-Route.com</a></li>
    </ul>
    <h3>Swimming</h3>
    <p>Swimming helps not just your legs, but gives you a great full body workout, no need to get hot and sweaty doing it either! A couple of good sites are listed below:</p>
    <ul>
        <li><a href="http://www.swimming.org/">www.Swimming.org</a></li>
        <li><a href="http://www.swimmingforum.co.uk/">www.SwimmingForum.co.uk</a></li>
    </ul>
    </div>
{% endblock %}