{% extends "admin.html" %}
{% set active_page = "viewusers" %}
{% block title %}View Training{% endblock %}
{% block jumbotron_header %}View Training{% endblock %}
{% block jumbotron_text %}See all Runners training history here.{% endblock %}
{% block main %}
    <table class="table table-striped table-hover well">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
        </tr>
        </thead>
        <tbody>
        {% for i in users %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td><a href="../../{{ i.username }}">{{ i.username }}</a></td>
                    <td>{{ i.name }}</td>
                    <td><a href="mailto:{{ i.email }}">{{ i.email }}</a></td>
                    <td>0{{ i.phone_number }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}